/* Estilo de hover para a navbar */
.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cor de fundo no hover */
    border-radius: 5px;
    /* Bordas arredondadas */
    transition: background-color 0.3s ease;
    /* Transição suave */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(20, 24, 98);
    /* Cor branca para os itens de navegação */
    font-weight: bold;
    font-size: larger;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #798ee1;
    /* Cor amarela no hover */
}

.navbar-toggler-icon {
    background-color: #333;
    /* Cor do ícone do hambúrguer */
}

.navbar-toggler {
    border: none;
    /* Remove a borda do botão */
}

.navbar-light .navbar-toggler-icon {
    background-color: #877474;
    /* Garante que o ícone seja visível em telas pequenas */
}

.cabecalho {
    background-color: #eeeeee;
}

.cabecalho {
    background-color: #eeeeee;
}

.menu-cor {
    background-color: #4c5c68;
    color: whitesmoke;
}

.menu-cor:hover {
    background-color: #4c7da2;
    color: rgb(39, 39, 39);
}

h2 {
    color: #001351;
}

.input-field {
    position: relative;
}

.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 1px #001351;
}

.input-field input:focus~label,
.input-field input:valid~label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #001351;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

label {
    color: #001351;
    font-weight: bold;
}

.button-voltar {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #9c00f7;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.button-voltar:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.button-voltar:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.button-voltar::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #232323;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.button-voltar:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

button {
    font-family: inherit;
    font-size: 15px;
    background: royalblue;
    color: white;
    padding: 0.5em 0.8em;
    padding-left: 0.2em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}
